* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    margin: 25px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: none;
    padding-left: 15px ;
    margin: 0 auto;
    background-color: lightblue;
}

label {
    font-size: 18px;
    padding: 25px 0 5px;
}

input:not(input[type="submit"]) {
    border: none;
    padding: 10px 0;
    background-color: lightgoldenrodyellow;
}

input[type="submit"] {
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    color: white;
    background-color: navy;
}