* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin: 40px 0 35px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 7px;
    padding: 15px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgb(165, 163, 163);
    background-color: white;
}

label {
    padding: 20px 0 10px;
    font-size: 18px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 3px;
    padding: 10px 0;
}

input[type="submit"] {
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 18px;
    color: white;
    background-color: rgb(65, 65, 65);
}
