* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: wheat;
    background-color: royalblue;
    text-align: center;
    padding: 3%;
}

nav {
    text-align: center;
    background-color:steelblue ;
    padding: 1%;
}

a {
    text-decoration: none;
    color: wheat;
    padding: 2%;
}